/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

@powder-blue: #445d7a;
@red: #cc0000;
@grey: #d2d3d4;

/* ==========================================================================
   Base
   ========================================================================== */

body {background: transparent url('../img/prodTemplates/SuccessMatrixSite_Home.jpg') top center no-repeat;} /* Delete for deploymenyt

a { color: @red; }

h1, h2 { font-family: @font-family-serif;}

h2 { border-bottom: thin solid @red; }

.panel h2 { color: @red; }

/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
   background-color: transparent;
   border-bottom: none;
   text-align: center;
}

nav[role=navigation] ul.nav {
   width: 600px;
   margin: 0 auto;
   text-transform: uppercase;
   font-size: 1em;
}

.nav > li > a:link, 
.nav > li > a:visited {
   color: black;
}

.nav > li > a:hover, 
.nav > li > a:focus {
text-decoration: none;
background: transparent;
color: black;
font-weight: bold;
}

a.navbar-brand {
   padding: 0;
   margin-bottom: 15px;
   width: 100%;
   display: block;
   h1 {
      margin: 0;
      padding: 0; 
      font-size: 3em;
      color: @powder-blue;
      text-transform: uppercase;
   }
}

h2.tagline {
   text-transform: uppercase;
   font-family: @font-family-sans-serif; 
   border-bottom: none; 
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

article {
   padding: 15px 10px;
}

.panel {
   border-radius: 0;
   position: relative;
}

.panel:after {
   content: '';
   display: block;
   background: url(../img/lines.svg);
   position: absolute;
   width: 100%;
   height: 100%;
   right: -10px;
   bottom: -10px;
   z-index: -1;
}

a.moretag {
   font-style: italic;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) {
   .container {
   width: 960px;
}
}
